* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    border: solid black 5px;
}

.item {
    background-color: #ec3d78;
    width: 80px;
    height: 80px;
    border-radius: 12px;
}